html,body {
  height: 100%;
}
.rbody {
  background: #efeff4;
}
.weui_tab_bd_item {
  display: none;
}
.weui_tab_bd_item h3 {
  padding: 45% 0 0;
  text-align: center;
  color: #888;
  font-weight: normal;
}