{{template "header.html" .}}
<div class="btn-group" role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="/wxlist">推荐公众号</a>  
</div>
   <ul class="list-group">
      {{range .Posts}}
      <li class="list-group-item">
      <div><a href="/content?op=con&id={{.Id}}"><h3 id="title_fnot" >{{.Title}}</h3></a></div>
      <div id="info_fnot" >{{.Info}}</div>
      <div id="my_label"><span class="label label-success">已审核</span></div>
      <div id="time_font">{{.CreateTime}}</div>
      </li>
      {{end}}
    </ul>
{{template "footer.html" .}}
