#header_body{
    background-color:#2ebb86;
    padding:0px
}

#uplode{
	font-size: 18px;
	position: absolute; 
	top: 30%;
	margin-left: 20px;
}
#footer_div{
  line-height:60px; 
  text-align:center;
}
.title_fnot{
	font-size: 22px;
	color: #2ebb86;
}
.info_fnot{
	font-size: 14px;
	color: #9f9f9f;
    padding-top: 10px;
    padding-bottom: 8px;
}
#my_label{
	margin:8px 0px
}
.time_font{
	margin:8px 0px;
	font-size: 12px;
	color: #c9c9c9;
    text-align:right
}
#title_font{
	color: #01ac20
}
.lable1_font{
    font-weight:bold
}

#list_bg{
	background-color: #fff;
	padding-top: 10px ;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
#list_item{
	background-color: #ffffff;
	padding: 0px;
}
#menu{
	padding: 10px;
	height: 60px;
	background-color: #ffffff;
}
.footer_font{
	font-size: 20px;
	color: #fff;
}

.my_button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.my_big {
    padding: 0 40px;
    padding-top: 10px;
    height: 45px;
    text-transform: uppercase;
    font: bold 20px/22px Arial, sans-serif;
}

.my_gray {
    color: #2ebb86;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
}

/*******内容*******/
.cont_info{
    padding-top: 10px ; 
    padding-bottom: 8px;
}
#cont_bg{
    background-color: #fff;
    padding-top: 10px ;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.body_bg{
    background-color: #fff;
}
.uplode_bg{
    background-color: #fff;
    padding: 10px;
}
.up_fnt{
    color: #000;
    font-weight:bold;
    font-size: 14px;
}
.body_right{
    text-align:right;
}



