<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/logo32.png" />
    <title>酿徒</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/bn.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  </head>
<body id="header_body">

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <!-- 自适应隐藏导航展开按钮 -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 导航条LOGO -->
      <a class="navbar-brand" href="/web/home">酿徒网</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li>
        <a href="/web/home?type=knowbrew">初识精酿</a>
      </li>
      <li>
        <a href="/web/home?type=website">优秀网站</a>
      </li>
      <li>
        <a href="/web/home?type=wnumber">优秀公众号</a>
      </li>
      <li>
        <a href="/web/app">精酿笔记app</a>
      </li>
    </ul>
      <p class="navbar-text navbar-right">
      {{if .isUser}}
       {{.User}} <a href="/web/home?op=logout" class="navbar-link">注销</a> 
      {{else}}
      <a href="/web/login" class="navbar-link">登录</a> <a href="/web/register" class="navbar-link">注册</a> 
      {{end}}
      </p>
  </div>
</div>
{{if eq .Type "wnumber"}}

  <ul class="list-group">
					{{range .Objs}}
					<li class="list-group-item">
						{{if eq .Image ""}}
						<div class="">
							<h5>{{.Title}}</h5>
							<h5 style="float:right;  position: relative;top: -35px;">{{.Info}}</h5>
						</div>
						{{else}}
						<div class="wnumber_img_div">
							<img src="{{isImgPath .Image}}" alt="{{isImgPath .Image}}" class="wnumber_img_item" >
						</div>
						<div class="wnumber_info_div">
								<div>{{.Title}}</div>
								<div>{{.Info}}</div>
							</div>
						{{end}}
					</li>
					{{end}}
				</ul>
{{else if eq .Type "website"}}
    <ul class="list-group">
      {{range .Objs}}
      <div class="list-group-item">
      <a href="{{.Link}}" style="text-decoration:none;">
	      <h4>{{.Name}}</h4>
	      <h5>{{.Brief}}</h5>
  	  </a>
  	  </div>
  	  <div class="list_line"></div>
      {{end}}
    </ul>
{{else }}
    <ul class="list-group">
      {{range .Objs}}
      <div class="list-group-item">
      <a href="{{.Link}}" style="text-decoration:none;">
        <h4>{{.Title}}</h4>
        <h5>{{.Brief}}</h5>
        <div>
          {{if eq .Type 1}}
            <span class="label label-primary">文章</span>
            {{end}} 
           {{if eq .Type 2}}
            <span class="label label-primary">视频</span>
            {{end}}
        </div>   
      </a>
      </div>
      <div class="list_line"></div>
      {{end}}
    </ul>
{{end}}


{{template "footer.html" .}}