.time_font{
	margin:8px 0px;
	font-size: 12px;
	color: #c9c9c9;
    text-align:right
}
.footer_div{
  text-align:center;
}

.admin_footer_font{
    font-size: 14px;
    color: #272727;
}

.admin_footer_font1{
    font-size: 14px;
    color: #272727;
}
.image_bg{
	width: 200px;
	height: auto;
}
.list_item{
    background-color: #ebebeb;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.list_line{
    height: 4px;
}
.list_bg{
    padding-top: 6px;
    padding-left:4px;
    padding-right: 4px
}


.wnumber_img_div {
  height: 90px;
  width: 90px;
  padding: 10px;
}

.wnumber_info_div {
  position: relative;
  top: -80px;
  left: 100px;
  padding-right: 100px;
}

.wnumber_img_item{
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
}