{{template "adminheader.html" .}}
<div class="btn-group" role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="/admin/uplode">发布</a>
  <a type="button" class="btn btn-default" href="/admin/wxlist">推荐公众号</a>
  <a type="button" class="btn btn-default" href="/admin/weixinnumberlist">推荐微信号</a>
  <a type="button" class="btn btn-default" href="/admin/feedbacklist">意见反馈</a>
  <a type="button" class="btn btn-default" href="/admin/userlist">用户管理</a>
  <a type="button" class="btn btn-default" href="/admin/wxuserlist">微信用户</a>
  <a type="button" class="btn btn-default" href="/admin/juhe">聚合数据</a>
  <a type="button" class="btn btn-default" href="/updatelog">更新记录</a>
  <a type="button" class="btn btn-default" href="/admin/newskey">新闻关键词</a>
  <a type="button" class="btn btn-default" href="/admin/guanggaos">广告管理</a>
  <a type="button" class="btn btn-default" href="/admin/waimailist">外卖订餐</a>
  <a type="button" class="btn btn-default" href="/admin/mall">商城</a>
  <a type="button" class="btn btn-default" href="/admin/exchange">兑换列表</a>
  <a type="button" class="btn btn-default" href="/admin/shanghus">商户管理</a>
  <a type="button" class="btn btn-default" href="/admin/keywords">关键字管理</a>
  <a type="button" class="btn btn-default" href="/admin/wxtest">微信测试</a>
  <a type="button" class="btn btn-default" href="/poll/adminpolls">投票系统</a>
  <a type="button" class="btn btn-default" href="/admin/notice">系统消息</a>
</div>
<div class="time_font">
  <a>
    <h5>未审核({{.Num}})</h5>
  </a>
  <a>
    <h5>共计({{.All}})</h5>
  </a>
</div>
<ul class="list-group">
  {{range .Posts}}
  <li class="list-group-item">
    <div>
      <a href="/admin/content?op=con&id={{.Id}}">
        <h1>{{.Title}}</h1>
      </a>
    </div>
    <div>{{.Info}}</div>
    {{if eq .Image ""}}
            {{.Image}}
          {{else}}
    <div id="image_fnot" >
      <img src="{{isImgPath .Image}}" alt="{{isImgPath .Image}}" width="auto" height="120px"></div>
    {{end}}
          {{ if eq .OpenId ""}}

        {{else}}
    <div class="time_font">
      <span > <font style="color: #000;font-size:12px;">{{ .NickeName}}</font>
        <img src="{{.HeadImgurl}}" width="40px" height="40px">
    </span>
  </div>
  {{ end}}
  <div class="time_font">{{timeformat .Time}}</div>
  <div>
    {{if eq .Label 1}}
    <span class="label label-primary">个人</span>
    {{end}} 
      {{if eq .Label 2}}
    <span class="label label-primary">官方</span>
    {{end}}
  {{if eq .City ""}}
  {{else}}
    <span class="label label-info">{{.City}}</span>
    {{end}}
  </div>
  {{if eq .Bfrom true}}
  <div class="from_div">
    <a class="from_a" href="{{.Fromurl}}">来自{{.Fromshow}}</a>
  </div>
  <div > <font>{{.Fromurl}}</font>
  </div>
  {{end}}
  <a href="/admin/home?op=del&id={{.Id}}" >删除</a>
  <a href="/admin/modify?op=m&id={{.Id}}" >修改</a>
  {{if eq .Examine 0}}
  <a href="/admin/home?op=examine&id={{.Id}}" >审核</a>
  {{else}}
  <a href="/admin/home?op=examine1&id={{.Id}}" >已审核</a>
  {{end}}
  {{if eq .State1 0}}
  <a href="/admin/home?op=state1no&id={{.Id}}" >合格(标记为违规)</a>
  {{else}}
  <a href="/admin/home?op=state1ok&id={{.Id}}" style="color:#FF0000;">不合格(标记为合格)</a>
  {{end}}
  
</li>
{{end}}
</ul>
{{template "adminfooter.html" .}}