{{template "adminheader.html" .}}
<div>
  <a type="button" class="btn btn-default" href="/admin/addguanggao">添加广告</a> 
</div>
 <ul class="list-group">
      {{range .Guanggaos}}
      <li class="list-group-item">
      <div><a href="/admin/guanggaocontent?op=con&id={{.Id}}"><h1>{{.Title}}</h1></a></div>
      <div>{{.Info}}</div>
        {{if eq .Image ""}}
            {{.Image}}
          {{else}}
           <div id="image_fnot" >
           <img src="http://182.92.167.29:8080/imagehosting/{{.Image}}" alt="http://182.92.167.29:8080/imagehosting/{{.Image}}" width="auto" height="60px">
           <!-- <img src="http://127.0.0.1:8080/imagehosting/{{.Image}}" alt="http://182.92.167.29:8080/imagehosting/{{.Image}}" width="auto" height="60px"> -->
          </div>
        {{end}}
        {{if eq .Blink true}}
          <a href="{{ .Link}}">{{ .Link}}</a>
        {{end}}
       <div class="time_font">{{timeformat .Time}}</div>
      {{if eq .State 0}}
       <a href="/admin/guanggaos?op=state&id={{.Id}}" >发布</a>
       {{else}}
       <a href="/admin/guanggaos?op=state1&id={{.Id}}" >已发布</a>
       {{end}}
       <a href="/admin/guanggaos?op=up&id={{.Id}}" >修改</a>
       <a href="/admin/guanggaos?op=del&id={{.Id}}" >删除</a>
      </li>
      {{end}}
    </ul>
{{template "footer.html" .}}
