{{template "header.html" .}}
<div id="cont_bg">
  <div > <font class="title_fnot" >{{.Post.Title}}</font>
  </div>
  <div class="cont_info"> <font class="info_fnot">{{.Post.Info}}</font>
  </div>
  {{if eq .Post.Image ""}}
            {{.Post.Image}}
          {{else}}
  <div id="image_fnot" >
    <img src="{{isImgPath .Post.Image}}" alt="{{isImgPath .Post.Image}}" width="320px" height="auto"></div>
  {{end}}
  <div id="my_label">
    <span class="label label-success">已审核</span>
    {{if eq .Post.Label 1}}
    <span class="label label-primary">个人</span>
    {{end}} 
        {{if eq .Post.Label 2}}
    <span class="label label-primary">官方</span>
    {{end}}
  </div>
  <div class="time_font">{{timeformat .Post.Time}}</div>
</div>

<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>
{{template "footer.html" .}}