{{template "header.html" .}}
<div class="uplode_bg">
	<form class="form-inline" method="GET" action="/feedback">
	  <div class="form-group">
	    <font class="up_fnt" for="">意见反馈</font>
	    <input type="text" style="width:100%;height:80px;text-align:left; vertical-align:top" class="form-control" rows="3"id="info" name="info" placeholder="输入反馈信息">
	  </div>
	  <div>
	  	<font class="info_fnot">您的宝贵意见是对我们最大的帮助</font>
	  </div>
	  <div class="body_right">
	  	<button type="submit" class="my_button my_gray">提交</button>
	  </div>
	</form>
</div> 
{{template "footer.html" .}}
