<!DOCTYPE html>

<html>
    <head>
    <link rel="shortcut icon" href="/static/img/logo32.png" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

     <!-- Stylesheets -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
      <title>庆安县580</title>
    </head> 
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="/static/img/logo32.png" >
          庆安县580
        </a>
        <a href="/uplode" role="button" id="uplode">发布</a>
      </div>
    </div>
  </nav>
   <ul class="list-group">
      {{range .Posts}}
      <li class="list-group-item">
      <div><a href="/content?op=con&id={{.Id}}">{{.Title}}</a></div>
      <div>{{.Info}}</div>
      <div>{{.CreateTime}}</div>
      <a href="/?op=del&id={{.Id}}">删除</a>
      </li>
      {{end}}
    </ul>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
