{{template "header.html" .}}
<div class="uplode_bg">
	<div class="list-group">
		<div>
			<h4>1.0.1 bate版本</h4>
			<div>更新日期： 10月18</div>
			更新内容：首页纪录公众号人物信息
					接入聚合数据查询天气和火车票
					公众号菜单调整
		</div>
		<div>
			<h4>1.0.2 bate版本</h4>
			<div>更新日期： 10月23</div>
		更新内容：接入聚合查询违章车辆
			公众号菜单调整
		</div>
		<div>
			<h4>1.0.3 bate版本</h4>
			<div>更新日期： 10月26</div>
			更新内容：快递查询 今日580模块
			公众号菜单调整
		</div>
		<div>
			<h4>1.0.4 bate版本</h4>
			<div>更新日期： 10月29</div>
			更新内容：优化发布信息搜索规则，调整网站页脚
		</div>
		<div>
			<h4>1.0.5 bate版本</h4>
			<div>更新日期： 11月3</div>
			更新内容：广告栏功能上线
		</div>
		<div>
			<h4>1.0.6 bate版本</h4>
			<div>更新日期： 11月6</div>
			更新内容：推荐公众号后台完善
		</div>
		<div>
			<h4>1.0.7 bate版本</h4>
			<div>更新日期： 11月8</div>
			更新内容：外卖订餐功能上线测试 部分功能优化
		</div>
		<div>
			<h4>1.0.8 bate版本</h4>
			<div>更新日期： 11月11</div>
			更新内容：主页增加悬浮功能栏 增加推荐微信号功能
		</div>
	</div>
</div>
{{template "footer.html" .}}