<!DOCTYPE html>

<html>
    <head>
    <link rel="shortcut icon" href="/static/img/logo32.png" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

     <!-- Stylesheets -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
      <title>庆安县580</title>
    </head> 
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="/static/img/logo32.png" >
          庆安县580
        </a>
      </div>
    </div>
  </nav>

<form class="form-inline" method="GET" action="/uplode">
  <div class="form-group">
    <label for="">标题</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="输入标题">
  </div>
  <div class="form-group">
    <label for="">内容</label>
    <input type="text" class="form-control" id="info" name="info" placeholder="输入内容">
  </div>
  <button type="submit" class="btn btn-default">添加</button>
</form>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
