{{template "header.html" .}}
    <script type="text/javascript">
    function uplode(){
      alert("uplode")
    }
    </script>
<div class="uplode_bg">
  <form class="form-inline" method="post" action="/uplode" enctype="multipart/form-data">
    <div class="form-group">
      <font class="up_fnt" for="" style="color:#000">标题</font>
      <input type="text" class="form-control" id="title" name="title" placeholder="输入标题">
    </div>
    <div class="form-group">
      <font class="up_fnt">内容</font> 
      <input type="text" style="width:100%;height:80px;text-align:left; vertical-align:top" class="form-control" rows="3"id="info" name="info" placeholder="输入内容">
    </div>
    <div class="form-group">
            <font class="up_fnt">选择图片：(上传图片会让你的消息阅读量增加)</font>
            <input type="file" class="form-control" name="image" id="image" accept="image/*" >
          </div>
    <div>
    	<font class="info_fnot">发布内容将在12小时内审核</font>
    </div>
    <div class="body_right">
      <button type="submit" class="my_button my_gray">发布</button>
    </div>
  </form>
</div>
{{template "footer.html" .}}
